*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: #333333;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#logo{
    margin: 0px 23px;
}

#logo img {
    height: 62px;
    margin: 6px 18px;
    border-radius: 20px;
}

ul{
    display: flex;
}

ul li{
    /* padding: 18px 20px; */
    list-style: none;
    font-size: 1.3rem;
}

ul li a{
    color: aliceblue;
    padding: 11px 20px;
    text-decoration: none;
    display: block;
    border-radius: 25px;
}

ul li a:hover{
    color: #333333;
    background-color: aliceblue;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 233px;
    justify-content: center;
    align-items: center;
    height: 527px;
}

#home::before{
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 81%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: aliceblue;
    text-align: center;
}

#home p{
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;
}

#services{
    display: flex;
    margin: 34px;
}

#services .box{
    border: 2px solid #333333;
    padding: 34px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(224, 217, 217);
    box-sizing: border-box;
    /* height: 350px; */
}

#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}


#client-section{
    position: relative;
    /* height: 344px; */
}

#client-section::before{
    content: "";
    background: url("../bg.jpg");
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients .client-item{
    margin: 34px;
}

#clients .client-item img{
    height: 124px;
}


#contact{
    position: relative;
}

#contact::before{
    content: "";
    background: url("../contact.jpg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box .form-group{
    margin: 10px;
}
#contact-box input,
#contact-box textarea{
    font-size: 1rem;
    width: 100%;
    border-radius: 9px;
    padding: 0.3rem;
}

#contact-box label{
    font-size: 1.3rem;
}

form{
    width: 40%;
}



footer{
    background-color: #333333;
    color: aliceblue;
    padding: 9px 20px;
}

.h-primary{
    padding: 12px;
    font-size: 3.8rem;
}

.center{
    text-align: center;
}

.h-secondary{
    font-size: 2.3rem;
}

.btn{
    margin: 17px;
    padding: 6px 20px;
    background-color: #333333;
    color: aliceblue;
    border: 2px solid #333333;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}